/* -----------------------------------------------------------login-css-------------------------------- */
* {
  /* margin: 0px;
    padding: 0px; */
  box-sizing: border-box;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #555;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: (9);
  display: none;
  transition: transform 0.5s ease, height 0.2s ease;
}
.popup.active .overlay {
  display: block;
}
.Login-signup-popup {
  position: fixed;
  z-index: initial;
  z-index: (10);
  background: #fff;
  width: 70%;
  height: 570px;

  top: 0px;
  left: 50%;
  transform: translate(-50%) scale(0);
  display: flex;
  box-sizing: border-box;
  transition: transform 0.5s ease, width 0.2s ease;
}
.popup.active .Login-signup-popup {
  transition: all 300ms ease-in-out;
  transform: translate(-50%) scale(1);
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

#left {
  width: 30%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fbfbfb;
  padding: 50px 10px;
}
#left .sume-card {
  width: 100%;
  height: 31%;
}
#left .sume-card h6 {
  margin: 10px;
  font-size: 15px;
}
#left .sume-card p {
  opacity: 0.6;
  margin: 10px;
}

/* -----------------------------------------------------------------otp-part-------------------------------------------------- */
#right {
  display: none;
  margin: 20px 0px;
  width: 50%;
}

#right #back-btn {
  font-size: 15px;

  /* background-color: red; */
}
#right #verificatName-otp {
  margin: 10px 0px;
}
#right #mas-otp {
  margin-bottom: 50px;
  font-size: 13px;
}
#right #form-otp {
  display: flex;
  flex-direction: column;
}
#right #label-otp {
  font-size: 15px;
  position: absolute;
  top: 25%;
  left: 33.5%;
  transition: transform 0.5s;
}
#right #input-otp {
  height: 40px;
  width: 100%;
  outline: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 10px 0px;
  transform: translateY(-50%);
}
#right #input-otp:focus ~ #label-otp {
  top: 21%;
}
#verifyBtn-otp {
  width: 50%;
  font-size: 15px;
  height: 40px;
  background-color: #ff6e5b;
  color: #ffffff;
  border: 1px solid #fb760b;
  border-radius: 4px;
  font-weight: 200;
}

/* --------right part------- */

#right-login {
  width: 70%;
  box-sizing: border-box;
  padding: 15px 10px;
  /* display: none; */
}

#right-login #tabs {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
#right-login #tabs #login {
  color: rgb(3, 139, 202);
  border-bottom: 2px solid rgb(3, 139, 202);
  padding-bottom: 10px;
}
#right-login #tabs a {
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

#right-login .login-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 60px 0px;
}
#right-login .login-form label {
  position: absolute;
  top: 18%;
  left: 34%;
  transform: translateY(-14%);
  font-size: 1.2em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s;
}

#right-login .login-form input:focus ~ label {
  top: 15%;
}
#right-login .login-form input:focus {
  border-bottom: solid 2px #006796;
  transform: scaleX(1);
  opacity: 1;
}

#right-login .login-form input {
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1.5px;
  width: 100%;

  border-color: #8d8d8d;
  font-size: 15px;
  outline: none;
  transition: 0.5s;
}
#right-login #red-error {
  margin: 5px 0px 25px 0px;
  color: red;
  font-size: 11px;
}
#right-login .login-form button {
  font-size: 15px;
  height: 40px;
  background-color: white;
  color: #fb760b;
  border: 1px solid #fb760b;
  border-radius: 4px;
  font-weight: 200;
}
#right-login #other {
  width: 70%;
}
#right-login #other h6 {
  font-size: 15px;
  margin: 30px 0px;
}

#right-login #fb-btn img {
  width: 45%;
}

/* --------  regester page   ------- */

#right-register {
  width: 70%;
  box-sizing: border-box;
  padding: 15px 10px;

  display: none;
}

#right-register #tabs {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
#right-register #tabs #register {
  color: rgb(3, 139, 202);
  border-bottom: 2px solid rgb(3, 139, 202);
  padding-bottom: 10px;
}
#right-register #tabs a {
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
#right-register .login-form {
  width: 90%;
}
#right-register .login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0px;
}
#right-register .input {
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: 0.5px solid rgb(209, 198, 194);
  padding: 0;
  margin: 10px 0px;
  transition: 1s;
}
#right-register .login-form form > div:focus {
  border-bottom: 0.5px solid rgb(11, 113, 222);
  transform: scaleX(1);
  opacity: 1;
}
#right-register .login-form form .input > label {
  position: absolute;

  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s;
}
#right-register .login-form  input:focus~label
/* #right-register .login-form  input:valid~label */ {
  top: -1px;
}
/* #right-register .login-form  input:focus 
{
    
    border-bottom: 1px solid red;
} */
#right-register .login-form .input > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
  background: none;
}

#right-register #email-alert {
  margin-top: -7px;
  color: red;
  font-size: 11px;
}
#right-register #number-alert {
  margin-top: -7px;
  color: red;
  font-size: 11px;
}
#right-register .login-form #checkbox {
  display: flex;
  justify-content: start;
}
#right-register .login-form #checkbox div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#right-register .login-form #checkbox input {
  height: 20px;
  margin: 10px 20px 10px 0px;
}

#right-register .login-form #submit-btn {
  display: block;
  width: 40%;
  height: 40px;
  background-color: #ff6f5b;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  box-shadow: #fb760b;
  margin: 20px 0px;
}

#right-register #other {
  width: 70%;
}
#right-register #other h6 {
  font-size: 15px;
  margin: 30px 0px;
}

#right-register #fb-btn img {
  width: 45%;
}
@media screen and (max-width: 768px) {
  #right-login {
    width: 95%;

    padding: 20px 30px;
  }
  #left {
    display: none;
  }
  #right {
    width: 99%;
  }

  #tabs {
    width: 50%;
  }
  #right-login #tabs {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  #right-login .login-form label {
    position: absolute;
    top: 16%;
    left: 6%;
    transform: translateY(-14%);
    font-size: 1.2em;
    font-weight: 500;
    pointer-events: none;
  }

  #right-register {
    width: 99%;
    box-sizing: border-box;
    padding: 20px 30px;
  }

  #right-register #tabs {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  #form-otp {
    width: 80%;
    padding: 20px 30px;
  }

  #back-btn {
    padding: 5px 30px;
  }
  #verificatName-otp {
    padding: 5px 30px;
  }
  #mas-otp {
    padding: 5px 30px;
  }

  #right #label-otp {
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 33.5%;
    transition: transform;
  }
  #right #input-otp:focus ~ #label-otp {
    top: 25%;
  }
}

@media screen and (max-width: 426px) {
  #right-login #tabs {
    width: 75%;
  }

  #right-login {
    width: 99%;}
    #verifyBtn-otp {
        width: 70%;
    }
    #right-login #fb-btn img {
        width: 80%;
    }
    #right-register #tabs{
        width: 75%;
    }
    #right-register #fb-btn img {
        width: 80%;
    }
    #right-register .login-form #submit-btn {
        width: 70%;
    }
}


@media screen and (max-width: 321px) {
    #right-login #tabs a {
        width: 75%;
        font-size: 12px;
      }
      #right-register #tabs a{
        width: 75%;
        font-size: 12px;
    }
}