#body{
    display: flex;
}
#body > div{
    margin: 10px;
}
#sideBar{
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main-body{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#top{
    display:flex;
}
#top-ads img{
    width: 75px;
}
#top > div{
    margin: auto;
}
#filter-by-price{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#categories{
    margin: 10px;
    display:flex;
    justify-content: space-around;
}
#categories a{
    color: black;
}
#categories img{
    margin-bottom: 5px;
}
#smart-phones{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 50px;
}
#smart-phones img{
    width: 120px;
    margin-bottom: 10px;
}
#smart-phones > div{
    margin: auto;
    padding: 20px;
}
#smart-phones > div:hover{
    border: 1px solid teal;
}
#smart-phones img:hover{
    transform: scale(1.1);
}
#bar-above-products-list{
    display: flex;
    justify-content: space-between;
}
#bar-above-products-list a{
    color:black;
}
#products-list > div:hover{
    border: 1px solid teal;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}